<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content drag-content="false">
		<ion-nav-bar>
			<ion-nav-back-button></ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="content"></ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="expanded bar bar-header disable-user-behavior">
				<!-- <img src="img/logo.svg" class="logo"> -->
				<svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="-5720.6 3221.4 72.7 36.6" style="enable-background:new -5720.6 3221.4 72.7 36.6;" xml:space="preserve">
				<g>
					<g id="XMLID_1_">
						<rect id="XMLID_28_" x="-5687.6" y="3254.6" width="1.8" height="3.4"/>
						<rect id="XMLID_27_" x="-5683.1" y="3254.6" width="3.6" height="3.4"/>
						<rect id="XMLID_26_" x="-5658.7" y="3254.6" width="1.8" height="3.4"/>
						<rect id="XMLID_25_" x="-5649.7" y="3254.6" width="1.8" height="3.4"/>
						<rect id="XMLID_24_" x="-5654.9" y="3254.6" width="3.6" height="3.4"/>
						<rect id="XMLID_23_" x="-5669.2" y="3254.6" width="1.8" height="3.4"/>
						<rect id="XMLID_22_" x="-5676.9" y="3254.6" width="5.4" height="3.4"/>
						<rect id="XMLID_21_" x="-5665.7" y="3254.6" width="5.4" height="3.4"/>
						<rect id="XMLID_20_" x="-5712.4" y="3254.6" width="7.2" height="3.4"/>
						<rect id="XMLID_19_" x="-5717.6" y="3254.6" width="3.6" height="3.4"/>
						<rect id="XMLID_18_" x="-5700.4" y="3254.6" width="3.6" height="3.4"/>
						<rect id="XMLID_17_" x="-5703.7" y="3254.5" width="1.8" height="3.4"/>
						<rect id="XMLID_2_" x="-5720.6" y="3254.6" width="1.8" height="3.4"/>
					</g>
					<rect x="-5694.5" y="3221.4" width="4.8" height="36.6"/>
					<path d="M-5708.1,3251.7c-2,0-3.8-0.4-5.5-1.1c-1.7-0.8-3.1-1.8-4-3.2c-1-1.4-1.4-2.9-1.4-4.6v-0.7h5v0.7c0,1.4,0.5,2.5,1.5,3.3
						c1.1,0.8,2.6,1.3,4.4,1.3c1.7,0,3-0.3,3.9-1c0.8-0.6,1.2-1.5,1.2-2.6c0-1.1-0.4-1.9-1.1-2.5c-0.6-0.5-1.9-1.2-4.8-2
						c-3.2-0.9-5.5-2-7-3.4c-1.5-1.4-2.3-3.2-2.3-5.3c0-2.4,1-4.3,2.8-5.9c1.8-1.5,4.2-2.3,7.1-2.3c2,0,3.8,0.4,5.3,1.2
						c1.6,0.8,2.8,1.9,3.7,3.2c0.9,1.4,1.3,2.9,1.3,4.5v0.7h-5v-0.7c0-1.5-0.4-2.5-1.3-3.4c-0.9-0.8-2.2-1.2-3.9-1.2
						c-1.6,0-2.8,0.3-3.7,1c-0.8,0.6-1.2,1.5-1.2,2.7c0,0.9,0.4,1.6,1.1,2.3c0.9,0.7,2.4,1.4,4.5,2c2.3,0.7,4.2,1.4,5.5,2.2
						c1.4,0.8,2.4,1.8,3.1,2.9c0.7,1.1,1,2.5,1,4c0,2.4-1,4.4-2.9,5.9C-5702.7,3251-5705.1,3251.7-5708.1,3251.7z"/>
					<path d="M-5660.4,3251.7c-3.2,0-5.7-0.9-7.6-2.6c-1.9-1.7-2.9-4.1-2.9-7.1v-19.2h5v19.1c0,1.8,0.5,3.1,1.4,4.1c1,1,2.3,1.4,4.1,1.4
						c1.8,0,3.2-0.5,4.2-1.4c0.9-1,1.4-2.3,1.4-4.1v-19.1h5v19.2c0,2.7-0.9,5-2.6,6.8c-1.7,1.8-4.1,2.7-7,3L-5660.4,3251.7z"/>
					<polygon points="-5676.7,3251.2 -5687.5,3239.7 -5687.6,3234 -5677.5,3222.8 -5674.2,3226.1 -5683.8,3236.6 -5670.5,3251.2 	"/>
				</g>
				</svg>
				<!-- <div class="menu-bottom">
					<ion-item nav-clear menu-close ui-sref="app.email">Email List</ion-item>
				</div> -->
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<!-- <ion-item class="item item-icon-left"
									menu-close ui-sref="app.skus">
					<i class="icon ion-android-home"></i> Home
				</ion-item> -->
				<ion-item class="item item-icon-left item-complex"
									nav-clear
									ng-click="launchDeletePopup()">
					<div class="item-content">
						<i class="icon ion-trash-b"></i> Clear All Skus
					</div>
				</ion-item>
				<ion-item class="item item-icon-left"
									nav-clear
									menu-close
									ui-sref="intro">
					<i class="icon ion-information-circled"></i> View Tutorial
				</ion-item>
				<ion-item class="item item-icon-left item-complex"
									nav-clear
									ng-click="showEmailPopup()">
					<div class="item-content">
						<i class="icon ion-email"></i> Send List
					</div>
				</ion-item>

			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
