<ion-view title="Settings">

  <!--<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear"
      ng-click="myGoBack()">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>-->

  <ion-content>
    <ion-list>
      <!--<ion-toggle ng-model="scannerBeepSound">Scanner Beep Sound</ion-toggle>
      <ion-toggle ng-model="scannerScreenFlash">Scanner Screen Flash</ion-toggle>-->
      <ion-toggle ng-model="scannerScreenFlash">Set Email Address (TEMP)</ion-toggle>
    </ion-list>
  </ion-content>

</ion-view>
